.nav{
    flex: 0 0 260px;
    background: #cacaca;
    flex-direction:column;
    display: flex;
    transition:0.5s;
    max-width: 300px;
    h1{
        text-align: center;
        padding-top: 20px;
        .logo{
            border-radius: 50%;
            width: 100px;
            transition: 0.5s;
            border:1px solid #733636;
        }
        flex-shrink:1;
    }
    ul{
        padding: 20px;
        flex-grow: 1;
        flex-shrink:1;
        li{
            border-bottom: 1px solid black; 
            padding: 24px 0px 20px 0px;
            cursor: pointer;
            &:hover{
                color: red;
            }
            .anticon{
                padding-right: 16px;
                font-size: 20px;
            }
        }
    }
    .footer{

        padding: 0px 30px;
        flex-shrink:1;
        .wechat{
            
            img{
                width: 100%;
            }
        }
        .tell-me{
            line-height: 50px;
            text-align: center;
            a{
                color: rgb(116, 3, 3);
                .anticon{
                    padding-right: 16px;
                    font-size: 20px;
                }
                &:hover{
                    color: red;
                }
            }
        }
    }
}
.navmin{
    flex: 0 0 60px;
    transition: 0.5s;
    h1{
        text-align: center;
        padding-top: 20px;
        .logo{
            border-radius: 50%;
            width: 40px;
            transition: 0.5s;
        }
    }
    ul{
        padding: 20px;
        flex-grow: 1;
        flex-shrink:1;
        li{
            border-bottom: 1px solid black; 
            padding: 14px 0px 10px 0px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:hover{
                color: red;
            }
            .anticon{
                padding-right: 0px;
                font-size: 20px;
            }
            span{
                text-align: center;
                padding-top: 10px;
            }
        }
    }
    .footer{
        padding: 0px;
        flex-shrink:1;
        .wechat{
            display: none;
        }
        .tell-me{
            line-height: 50px;
            text-align: center;
            a{
                color: rgb(116, 3, 3);
                .anticon{
                    padding-right: 0px;
                    font-size: 20px;
                }
                &:hover{
                    color: red;
                }
                span{
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .navmin{
        font-size: 12px;
    }
}

